<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <p>Hello, World!</p>
    <form method="post">
        <label for="txtarea">Tell us your story:</label><br>
        <textarea id="txtarea" name="txtarea1" rows="5" cols="33">
        An html page with textarea called in my flask app with html_renderer...
        </textarea>
        <input type="submit" value="textConfirm">
    </form>
</body>
</html>